.App {
  text-align: center;
}
.EditHeader{
  background-image: url(./images/EditBack.jpg);
}
h1 {
  background-color: azure;
  width: 40%;
  left: 30%;
  position: relative;
  padding: 0.25em 1em;
  margin: 0;
  border: solid 2px black;
  border-radius: 3px 0 3px 0;
}

h1:before, h1:after {
  content: '';
  position: absolute;
  width:10px;
  height: 10px;
  border: solid 2px black;
  border-radius: 50%;
  background-color: azure;
}

h1:after {
  top:-12px;
  left:-12px;
}
h1:before {
  bottom:-12px;
  right:-12px;
}

.Edit_left{
  background-image: url(./images/EditBack.jpg);
  background-size: 100%;
  width: 50%;
  height: 100%;
  float: left;
}

.Edit_right{
  background-image: url(./images/EditBack.jpg);
  background-size: 100%;
  width: 50%;
  height: 100%;
  float: right;
}
.Edit_none{
  float: none;
}

.Edit_img_tree{
  text-align: center;
   width: 70%;
    height: 90%;
}

.Edit_item1{
  position: absolute;
  top: 25%;
  left: 45%;
  width: 10%;
  height: 7%;
}
.Edit_item2{
  position: absolute;
  top: 42%;
  left: 37%;
  width: 10%;
  height: 7%;
}
.Edit_item3{
  position: absolute;
  top: 38%;
  left: 52%;
  width: 10%;
  height: 7%;
}
.Edit_item4{
  position: absolute;
  top:51%;
  left:32%;
  width: 10%;
  height: 7%;
}
.Edit_item5{
  position: absolute;
  top:54%;
  left:45%;
  width: 10%;
  height: 7%;
}
.Edit_item6{
  position: absolute;
  top:56%;
  left:59%;
  width: 10%;
  height: 7%;
}
.Edit_item7{
  position: absolute;
  top:62%;
  left:30%;
  width: 10%;
  height: 7%;
}
.Edit_item8{
  position: absolute;
  top:70%;
  left:41%;
  width: 10%;
  height: 7%;
}
.Edit_item9{
  position: absolute;
  top:65%;
  left:52%;
  width: 10%;
  height: 7%;
}
.Edit_item10{
  position: absolute;
  top:80%;
  left:22%;
  width: 10%;
  height: 7%;
}
.Edit_item11{
  position: absolute;
  top:83%;
  left:46%;
  width: 10%;
  height: 7%;
}
.Edit_item12{
  position: absolute;
  top:74%;
  left:57%;
  width: 10%;
  height: 7%;
}
.Edit_item13{
  position: absolute;
  top:87%;
  left:68%;
  width: 10%;
  height: 7%;
}

.Edit_menu_img{
  width: 90%;
  height: 90%;
}

.Edit_tree_item{
  position: relative;
}
.decoration{
  position: absolute;
}
.Menu{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  top: 20%;
  left: 8%;
}
.Edit_menu_open{
  width:50%;
  height: 100%;
  left: 0;
  background-color: white;
  border: dashed 2px #668ad8;
  border-radius: 8px;
}

.Edit_menu_close{
  width: 0;
  height: 0;
  display: none;
}
.Edit_itembox{
  list-style-type: none;
  display:flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.Edit_itembox li{
  width: calc(100% / 3);
  height: calc(100% / 3);
}

.MenuButton_before{
  top: 0;
  left: 0;
  width: 8%;
  height: 17%;
}

.MenuButton_after{
  top: 15%;
  left: 45%;
  width: 8%;
  height: 17%;
}
/*.App-logo {
  height: 40vmin;
  pointer-events: none;
}*/

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
